/* ================= RESET ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#000;
    color:white;
    overflow-x:hidden;
}

/* ================= NAVBAR ================= */
.navbar{
    position:fixed;
    top:0;
    width:100%;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 60px;
    background:rgba(255,255,255,0.95);
    backdrop-filter:blur(10px);
    z-index:1000;
}

.logo img{
    height:70px;
}

.nome{
    font-size:28px;
    display:flex;
    gap:6px;
}

.nome span:first-child{
    font-family:'Playball', cursive;
    color:#e10600;
}

.nome span:last-child{
    font-family:'Audiowide', sans-serif;
    color:black;
}

.voltar{
    text-decoration:none;
    font-family:'Audiowide', sans-serif;
    color:black;
    transition:0.3s ease;
}

.voltar:hover{
    color:#e10600;
}

/* ================= HERO CARREIRA ================= */
.hero-carreira{
    min-height:100vh;
    padding:160px 80px 80px 80px;
    background:
        linear-gradient(rgba(0,0,0,0.85), rgba(0,0,0,0.85)),
        url('fundo.Gabriel.Bortoleto.jpg') no-repeat center center;
    background-size:cover;
}

.hero-carreira h1{
    font-family:'Audiowide', sans-serif;
    font-size:64px;
    margin-bottom:40px;
    color:#e10600;
}

/* ================= TIMELINE ================= */
.timeline{
    max-width:900px;
    margin-top:40px;
}

.timeline-item{
    margin-bottom:50px;
    padding-left:20px;
    border-left:3px solid #e10600;
    transition:0.4s ease;
}

.timeline-item:hover{
    transform:translateX(10px);
}

.timeline-item h3{
    font-family:'Space Grotesk', sans-serif;
    font-size:26px;
    margin-bottom:10px;
}

.timeline-item span{
    font-size:18px;
    color:#e10600;
    display:block;
    margin-bottom:10px;
}

.timeline-item p{
    font-size:18px;
    line-height:1.6;
    color:#ccc;
}